
/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
}
.inner {
	width: 1500px;
	padding: 20px;
}
input {
	border: 1px solid #ccc;
  padding-left: 10px;
}


/* TITLE */
.title {
  background-color: #efefef;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
  line-height: 75px;
  font-size: 30px;
  font-weight: 900;
  z-index: 9;
}
.title .title-primary {
  font-size: 30px;
  color: #0D6EFD;
}


/* 입력 테이블 */
.inputTable {
  margin-top: 70px;
}
.inputTable input[name="t"] {
  width: 100px;
}
.inputTable .t-info {
  color: #999;
}
form input[name="k"] {
  width: 100px;
}

 /* 차트 */
.chartResult > .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.chartResult > .inner > div {
  margin-bottom: 20px;
}
.chartResult > .inner .alter-wrapper {
  font-size: 20px;
}
.chartResult > .inner .alter-wrapper > div {
  display: flex;
}
.chartResult > .inner .alter-wrapper > div > div:first-child,
.chartResult > .inner .alter-wrapper > div > div:nth-child(2) {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border: 1px solid #aaa;
  color: #aaa;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.chartResult > .inner .alter-wrapper > div > div:nth-child(2) {
  margin-right: 15px;
}
.chartResult > .inner .alter-wrapper > div > div:nth-child(3) {
  width: 150px;
}
.chartResult #kResult {
  margin-left: 100px;
  font-size: 20px;
  font-weight: 700;
}